.section2 {
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h2 {
    font-size: 30px;
  }
  p {
    width: 36%;
    text-align: center;
    color: #9194a1;
  }
  ul {
    position: relative;
    left: -50px;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      color: #9194a1;
      list-style-type: none;
      padding: 25px 60px;
      border-bottom: 3px solid #9194a1;
    }
    li:hover {
      transition: 0.5s;
      cursor: pointer;
      color: #252b46;
      border-bottom: 3px solid #fa5757;
    }
  }
  .tab1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .divImage {
      position: relative;
      width: 50%;
      z-index: 10;
      margin-top: 50px;
      padding-left: 100px;
      img {
        z-index: 10;
        object-fit: contain;
      }
    }
    .divImage::after {
      content: "";
      z-index: -1;
      width: 70%;
      height: 300px;
      background: #5368df;
      position: absolute;
      top: 120px;
      left: 0;
      border-radius: 0px 0px 200px 0px;
    }
    div {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-right: 150px;
      h3 {
        font-size: 25px;
      }
      p {
        text-align: start;
        width: 100%;
      }
      button {
        margin-right: 10px;
        font-weight: 400;
        width: 100px;
        color: white;
        border-radius: 5px;
        border: none;
        box-shadow: 0 3px 5px 0px #e2e3e4;
        padding: 10px;
        background-color: #5368df;
      }
      button:hover {
        cursor: pointer;
        width: 100px;
        color: white;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 2px 0 #252b46;
        padding: 10px;
        background-color: #5368df;
      }
    }
  }
  .tab2 {
    top: 300px;
    width: 100%;
    display: flex;
    display: none;
    justify-content: space-between;
    align-items: center;
    .divImage {
      position: relative;
      width: 50%;
      z-index: 10;
      margin-top: 50px;
      padding-left: 200px;
      img {
        z-index: 10;
        object-fit: contain;
      }
    }
    .divImage::after {
      content: "";
      z-index: -1;
      width: 80%;
      height: 330px;
      background: #5368df;
      position: absolute;
      top: 120px;
      left: 0;
      border-radius: 0px 0px 200px 0px;
    }
    div {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-right: 150px;
      h3 {
        font-size: 25px;
      }
      p {
        text-align: start;
        width: 100%;
      }
      button {
        margin-right: 10px;
        font-weight: 400;
        width: 100px;
        color: white;
        border-radius: 5px;
        border: none;
        box-shadow: 0 3px 5px 0px #e2e3e4;
        padding: 10px;
        background-color: #5368df;
      }
      button:hover {
        cursor: pointer;
        width: 100px;
        color: white;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 2px 0 #252b46;
        padding: 10px;
        background-color: #5368df;
      }
    }
  }
  .tab3 {
    top: 300px;
    width: 100%;
    display: flex;
    display: none;
    justify-content: space-between;
    align-items: center;
    .divImage {
      position: relative;
      width: 50%;
      z-index: 10;
      margin-top: 50px;
      padding-left: 200px;
      img {
        z-index: 10;
        object-fit: contain;
      }
    }
    .divImage::after {
      content: "";
      z-index: -1;
      width: 80%;
      height: 330px;
      background: #5368df;
      position: absolute;
      top: 120px;
      left: 0;
      border-radius: 0px 200px 200px 0px;
    }
    div {
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-right: 150px;
      h3 {
        font-size: 25px;
      }
      p {
        text-align: start;
        width: 100%;
      }
      button {
        margin-right: 10px;
        font-weight: 400;
        width: 100px;
        color: white;
        border-radius: 5px;
        border: none;
        box-shadow: 0 3px 5px 0px #e2e3e4;
        padding: 10px;
        background-color: #5368df;
      }
      button:hover {
        cursor: pointer;
        width: 100px;
        color: white;
        border-radius: 5px;
        border: none;
        box-shadow: 0 0 2px 0 #252b46;
        padding: 10px;
        background-color: #5368df;
      }
    }
  }
}
