@import './_nav.scss';
@import './_section1.scss';
@import './_section2.scss';
@import './_section3.scss';
@import './_section4.scss';
@import './_footer.scss';

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Goldman", cursive;
  font-family: "Secular One", sans-serif;

}
